.container.row
  %h1.center
    Fellow {Adventurers}
  - @users.each do |user|
    .col.s12.l6.center
      .card
        .card-image
          = image_tag user.avatar.url(:medium)
        .card-content
          %span.card-title.black-text
            = link_to "#{user.user_name}", user_path(user)
          %p
            = user.about_me
