.container.row
  %h1.center
    Fellow {Adventurers}
  - @users.each do |user|
    .col.s12.l5
      .card
        .card-image
          %img{src: "http://www.newsmax.com/Newsmax/files/e5/e5d3812c-214e-4cfa-9f8a-4a0c5a548630.jpg"}
        .card-content
          %span.card-title.black-text
            = link_to "#{user.user_name}", user_path(user)
          %p
            = user.about_me
